* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-size: 62.5%;
}

body {
	border: 1px solid black;
	padding: 0 1.3rem;
	max-width: 789px;
	/* display: flex;
	justify-content: center;
	align-items: center; */
}
