* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-size: 62.5%;
}

body {
	border: 1px solid orange;
	padding: 0 1.3rem;
	max-width: 480px;
	height: 100%;
	/* min-height: 844px;
	max-height: 844px; */
	overflow: scroll;
	display: flex;
	justify-content: center;
	align-items: center;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}
